*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
}


.home{
    min-height: 100vh;
    width: 100%;
}

html, body {
    height: 100%;
}

body{
    background-image: url(/MULTIMEDIA/Fondo\ iLearn.png);
    background-size: cover;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}
header {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.637); 
    color: rgb(251, 251, 237);
}
header .barraDeNavegacion {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5%;
    transition: 0.3s ease;
    max-width: 1400px;
    margin: 0 auto;
}


.barraDeNavegacion .logo {
    color: var(--white-color);
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}


.navigation .elementosDeLaBarra a{
    color: var(--white-color);
    font-size: 1em;
    margin-right: 45px;
    text-decoration: none;
    text-shadow: var(--text-shadow);
    font-family: 'Poppins', sans-serif;
}
.navigation .elementosDeLaBarra a i{
    display: none;
}
.navigation .elementosDeLaBarra a:not(:last-child){
    margin-right: 45px;
}


/* Evitamos que la barra de desplazamiento aparezca al fondo de la página */
html {
    overflow-x: hidden;
}
@media screen and (max-width: 768px) {
    header .barraDeNavegacion {
        padding: 1rem 3%; /* Reduce el padding en pantallas más pequeñas */
    }
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(73, 58, 43, 0.866);
    color: white;
    text-align: center;
    padding: 10px 0; 
}